<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar una novedad</h4>
            <form action="/admin/novedades/modificar" method="post"
             enctype="multipart/form-data">
            <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3 row">
                    <input type="text" name="titulo" class="form-control" placeholder="titulo" value="{{novedad.titulo}}">
                </div>
                <div  class="mb-3 row">
                      <textarea type="text" class="form-control" name="subtitulo" placeholder="subtitulo">{{novedad.subtitulo}}</textarea>  
                </div>
                     <div class="mb-3 row">
                    <p>
                    <label for="">imagen: <input type="file" name="imagen" id="imagen"></label>
                    </p>

                    <p>
                        <label><input type="checkbox" name="img_delete" id=
                        "img_delete" value="1">Eliminar imagen actual?</label>

                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">

                    </p>
                </div>
                <div class="mb-3 row">
                      <textarea name="cuerpo" class="form-control" cols="30" rows="10" placeholder="cuerpo">{{novedad.cuerpo}}</textarea>  
                </div>

    

                <button type="submit" class="btn btn-primary">modificar</button>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}           
       </div>
    </div>
</div>